<%- include('./store-header.ejs') %>
<div class="storeinfo-container">
    <div class="storeinfo-card ">
        <div class="storeinfo-card-header text-center">
        Inventory
        </div>
        <div class="storeinfo-card-content inventory-card">
         <table class="text-center">
            <tr>
                <th>Commodities</th>
                <th>Available Stock</th>
                <th>Rate(per kg/l)</th>
                <th>Update</th>
            </tr>
            <% for(let i=0; i< store.commodities.length; i++){ %>
                <tr class="text-center">
                 <td><%= store.commodities[i].item %></td>
                 <td><%= store.commodities[i].stock %></td>
                 <td>₹<%= store.commodities[i].rate %></td>
                 <td><a href="/app/update?update=<%=i%>"><button class="btn btn-success">Update</button></a></td>
                </tr>
             <%}%>
         </table>
        </div>
        <div class="storeinfo-card-footer">
        </div>
    </div>
    </div>
</div>
</div>
</body>
</html>