<%- include('./header.ejs') %>
<div class="slot-container">
    <div class="slot-card">
     <div class="slot-card-header text-center">
     Choose your Slot 
     </div>
     <div class="slot-card-content border">
      <form action="/app/slots/<%= store_id%>" method="GET" class="mb-4 text-center">
       <label for="date" class="form-label fw-bold">Select Date:</label>
       <input type="date" id="date" name="date" class="form-control d-inline-block w-auto" value="<%=targetDate %>" min="<%= new Date().toISOString().split('T')[0]%>"
       onchange="this.form.submit()">
      </form>
      <%
      var todayString = new Date().toISOString().split('T')[0];
      var isToday = targetDate === todayString;

      function isSlotAvailable(time,booked,capacity){
        if(booked >= capacity) return false;
        if(!isToday) return true;

        var currentDate = new Date();
        var realTime = (currentDate.getHours()*100) + currentDate.getMinutes();

        return time > realTime;
      }
      %>
      <%if(!slots || slots.length === 0){ %>
        <h2>No Slots are Available </h2>
        <% }else{ %>
        <div class="row text-center">
          <% slots.forEach(function(s){ %>
            <div class="col-4 mb-3">
              <% if(isSlotAvailable(s.time,s.booked,s.capacity)){ %>
               <a href="/app/confirmation/<%= store_id %>?slot=<%=s.time%>&date=<%= targetDate%>">  
                <button class="btn btn-outline-success slot-btn w-100">
                  <%= String(s.time).length === 3 ? String(s.time).slice(0,1) + ":" + String(s.time).slice(1) : String(s.time).slice(0,2) + ":" + String(s.time).slice(2)%>
                </button>
               </a> 
               <%} else {%>
                <button class="btn btn-secondary slot-btn w-100" disabled>
                   <%= String(s.time).length === 3 ? String(s.time).slice(0,1) + ":" + String(s.time).slice(1) : String(s.time).slice(0,2) + ":" + String(s.time).slice(2)%>
                </button>
                <%}%>
            </div>
          <% }) %>
        </div>
       <% } %>
     </div>
    </div>
</div>
<%- include('./footer.ejs') %>