<%- include('./store-header.ejs') %>
<div class="trans-card-container" onclick="getTable()">
    <%
      var currentDate = new Date();
      var currentHour = currentDate.getHours();
      var currentMinute = currentDate.getMinutes();
      function detectTime(check,checkDate){
        const realTime = String(currentHour)+String(currentMinute);
        Number(realTime);
        if(check>realTime){
          return 1;
        }
        else{
          return 0;
        }
      }
      %>
    <!-- <form class="pin-card-form"> -->
    <div class=" pin-card mt-5">
    <div class="pin-card-header-back text-center " id="pin-card-header-back">
        <h3 class="mt-4" id="pin-heading-back">
        </h3>
    </div>
    <div class="trans-card-form-back" id="pin-card-back">
       
        <div class="table-container" >
            <%if(orders.length>0){%>
                <table id="store-table">
                    <tr>
                    <th class="text-center" style="width: 10%;">Transaction ID</th>
                    <th class="text-center">Aadhar</th>
                    <th class="text-center">Date/Time</th>
                    <th class="text-center">Slot</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Amount</th>
                    <th class="text-center">Complete</th>
                </tr>
                <%for(let order of orders){%>
                <tr>
                    <td class="text-center"><%=order._id%></td>
                    <td class="text-center"><%=order.aadhar%></td>
                    <td class="text-center"><%=order.date%></td>
                    <td class="text-center"><%=String(order.slot).length === 3 ? String(order.slot).slice(0,1) + ":" + String(order.slot).slice(1) : String(order.slot).slice(0,2) + ":" + String(order.slot).slice(2)%></td>
                    <%if(order.completed){%>
                        <td class="text-center">Collected</td>
                    <%}else{%>
                        <td class="text-center">Not Collected</td>
                    <%}%>
                    <td class="text-center"><%=order.total%></td>
                    
                    <%if(detectTime(order.slot,order.date)){%>
                    <td class="text-center"><a href="/app/completetrans/<%=order._id%>"><button class="btn btn-success">Complete</button></a></td>
                    <% } else {%>
                        <td class="text-center">Slot Expired!</td>
                        <%}%>
                </tr>
                <%}%>
                </table>
            <%}else{%>
            <h2>No Orders Found</h2>
            <%}%>
        </div>
    </div>
    </div>

</div>
</div>
</div>
</body>
<script>
var j = 0;
     var text = 'Upcoming Transactions'; 
     var speed2 = 50; 

    function typingr() {
    if (j < text.length) {
    document.getElementById("pin-heading-back").innerHTML += text.charAt(j);
    j++;
    setTimeout(typingr, speed2);
  }
  
}

window.onload = typingr();

</script>
</html>