<%- include('./store-header.ejs') %>
<div class="user-registration-card-container">
    <% if(errorMessage){ 
        %>
        <span class="user-message user-message--error"><%= errorMessage %></span>
        <%}%>
    <!-- <form class="pin-card-form"> -->
    <div class="user-registration-card mt-3">
    <div class="user-registration-card-header text-center"id="pin-card-header">
        <h3 class="mt-3" id="pin-heading"></h3>
    </div>
    <form action="/store/userRegistration" method="POST" style="width: 100%;height: 100%;">
    <div class="registration-card">
        <div class="aadhar-details">
         <div class="aadhar-details-comp">
            <label class="mt-2">Aadhar Number:</label>
            <input type="number" name="aadhar_id" class="form-control mt-2" placeholder="Enter user's aadhar number" value="<%=oldInput.aadhar_id%>">
            <label class="mt-2">Name:</label>
            <input type="text" name="name" class="form-control mt-2" placeholder="Enter user's name (as per aadhar card)" value="<%=oldInput.name%>">
         </div>
         <div class="aadhar-details-comp">
            <label class="mt-2">Address:</label>
            <input type="address" name="address" class="form-control mt-2" placeholder="Enter address(as per aadhar card)" value="<%=oldInput.address%>">
            <label class="mt-2">Mobile Number:</label>
            <input type="phone" name="mobile" class="form-control mt-2" placeholder="Enter user's mobile number (linked to the aadhar)" value="<%=oldInput.mobile%>">
         </div>
        </div>
        <div class="aadhar-details">
         <div class="aadhar-details-comp">
            <label class="mt-2">Ration Card Number:</label>
            <input type="number" name="user_id" class="form-control mt-2" placeholder="Enter Ration card Number" value="<%=oldInput.user_id%>">
            <label class="mt-2">Number of Family Members:</label>
            <input type="number" name="member_quantity" class="form-control mt-2" value="<%=oldInput.member_quantity%>">
         </div>
         <div class="aadhar-details-comp">
            <label class="mt-2">Card Type:</label>
            <select name="card_type"class="form-control mt-2" value="<%=oldInput.card_type%>">
                <option value="AAY">AAY</option>
                <option value="BPL">BPL</option>
                <option value="APL">APL</option>
                <option value="PHH">PHH</option>
            </select>
            <label class="mt-2">FPS Number:</label>
            <input type="number" name="fps_id" class="form-control mt-2" placeholder="Enter the FPS number" value="<%=oldInput.fps_id%>">
         </div>
        </div>
        <div class="text-center mt-2"> <input class="btn btn-primary" type="submit"></div>
    </div>
</form>
    </div>

</div>
</div>
</div>
</body>
<script>
    var i = 0;
         var txt = 'User Registration'; 
         var speed = 50; 
    
        function typing() {
        if (i < txt.length) {
        document.getElementById("pin-heading").innerHTML += txt.charAt(i);
        i++;
        setTimeout(typing, speed);
      }
      
    }
    
    window.onload = typing();
    
    </script>
</html>